body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto Condensed';
	font-size: 12px;
	line-height:1.3em;
}

p {
	margin:0em;
	margin-top: 0.4em
}

.dontbreak {
	page-break-inside: avoid;
}

/* Stat Blocks */
.stat-block-title, .stat-block-breaker {
	font: normal 16px 'Liberation Sans', sans-serif;
	text-transform: uppercase;
}

.stat-block-title {
	font-weight: bold;
	letter-spacing: 2px;
    margin: 0px;
}

.stat-block-breaker {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 8px;
    margin-bottom: 0px;
}

.flavor-text {
	font-style: italic;
    margin: 0px;
    font-size: 12px;
	line-height: 1em;
}

.stat-block, .stat-block-1, .stat-block-2 {
	font: normal 13px 'Roboto', sans-serif;
	line-height: 1.2em;
	margin: 0px 0;
}

.stat-block-2 {
	text-indent: 25px;
}

.stat-block-xp {
	font: normal 14px 'Liberation Sans', sans-serif;
	font-weight: bold;
	margin: 0;
}

.stat-block-cr {
	float: right;
	padding: 0 5px 0 0;
}

.stat-block-rp {
	padding: 0 0 0 10px;
	font-weight: bold;
	font-style: italic;
}
